
<h2> Display's last sender's name and last message's subject </h2>

<% @conversations.each do |conversation| %>
     <%= link_to conversation.last_sender.name, conversation.last_sender  %> , 
 
     <%= link_to conversation.last_message.subject, conversation_path(conversation) %>
  <br>
<% end %>

<br><br>
<h3> Display the name of the originator and conversation's subject</h3>
<br><br>
<% @conversations.each do |conversation| %>
    <%= link_to conversation.originator.name, conversation.originator %> , 
    <%= link_to  raw(truncate(strip_tags(conversation.subject), :length => 15)), conversation_path(conversation) %> ,
 
    <%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %>
  
    <%= link_to "Delete", {:controller => "conversations", :action => "trash", :id => conversation.id}, :title=> "Move to Trash", :method=>'post', data: { confirm: 'yes to delete the conversation thread and messages?' } %>

<br>
<% end %>
