<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @enquiry.subject %>
</p>

<p>
  <strong>Level:</strong>
  <%= @enquiry.level %>
</p>

<p>
  <strong>Location:</strong>
  <%= @enquiry.location %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @enquiry.duration %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @enquiry.start_date %>
</p>

<p>
  <strong>Tuition fee:</strong>
  <%= @enquiry.tuition_fee %>
</p>

<p>
  <strong>Note:</strong>
  <%= @enquiry.note %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @enquiry.availability %>
</p>

<%= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
<%= link_to 'Back', enquiries_path %>
